<% include partials/header %>

	<div id="hero-image">

		<h1 id="hero-title"> <%= title %> </h1>
		
	</div>
	
	<div class="content-padding clearfix" id="posters-wrapper">

		<% movies.forEach(function(movie){ %>

		<div class="poster">

			<img style= "width: 100%;" src="/cssfiles/images/<%= movie.poster %>" class="img-responsive"> 

		</div> 

		<% }) %>

	</div>

    	
   

<% include partials/footer %>